[safe]
	directory = /storage/emulated/0/Website ဖိုင်များ/caregivers
	directory = /storage/emulated/0/Download/flash-movie-pro
[user]
	email = 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
	name = ziyin4540-cmd
